* {
  box-sizing: border-box;
}

body {
  width: 95%;
  margin: 1rem auto;
  display: grid;
  grid-template-rows: 25% 50% 25%;
}

header {
  background-color:  lightcyan;
  display: grid;
  align-items: center;
  grid-template-columns: 12% 80%;
}

main {
  background-color: paleturquoise; 
  display: grid;
  grid-template-columns: 25% 75%; 
}

#mainContent {
  background-color:  lightgoldenrodyellow;
  display: grid;
  grid-template-rows: 45%;

}
#images {
  background-color:  lightseagreen;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-start: 1;
}

#survey {
  background-color:  lightpink;
}

footer {
  background-color:  lightgreen
}
