/* * {
  box-sizing: border-box;
}

body {
  width: 95%;
  margin: 1rem auto;
}

header {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  justify-content: start;
  align-items: center;
}

header h1 {
  margin-left: 1rem;
}

main {
  width: 960px;
  border: 1px solid blue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr .25fr 1fr;
} */

* {
  box-sizing: border-box;
}

body {
  width: 95%;
  margin: 1rem auto;
  display: grid;
  grid-template-rows: 25% 50% 25%;
}

header {
  background-color:  lightcyan;
  display: grid;
  align-items: center;
  grid-template-columns: 12% 80%;
}

main {
  background-color: paleturquoise; 
  display: grid;
  grid-template-columns: 25% 75%; 
}

#mainContent {
  background-color:  lightgoldenrodyellow;
  display: grid;
  grid-template-rows: 45%;

}
#images {
  background-color:  lightseagreen;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-start: 1;
}

#survey {
  background-color:  lightpink;
}

footer {
  background-color:  lightgreen
}
